APP_ENV=test
NEXT_PUBLIC_APP_URL=https://test.app.pest.gg
DATABASE_URL=postgres://user:pass@test-db.example.com:5432/aifirst_template_test
CLERK_SECRET_KEY=sk_test_replace_me
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_replace_me
R2_ACCOUNT_ID=replace_me
R2_ACCESS_KEY_ID=replace_me
R2_SECRET_ACCESS_KEY=replace_me
R2_BUCKET_NAME=pest-gg-app-staging
R2_PUBLIC_BASE_URL=https://files-test.app.pest.gg
INNGEST_EVENT_KEY=replace_me
INNGEST_SIGNING_KEY=replace_me
INNGEST_ENV=test
